.geralperfil{
 
    display: flex;
    border: 20px;
}

.infodoperfil{
    
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: center;
}

.imgperfil img{
    border-radius: 50%;
    width: 64px;
}

.nome{

    font-family:'Segoe UI', 'Roboto', sans-serif;
    font-weight: bold;
}

.arroba_user{
    color: #999999;
}

